@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@layer base {
  body {
    @apply bg-zinc-950 text-gray-200 antialiased;
  }
  
  /* Cor de seleção igual ao modelo, mas amarela */
  ::selection {
    @apply bg-brand-primary text-zinc-950;
  }

  a, a:visited, a:hover, a:active {
    color: inherit;
    text-decoration: none;
  }
}