@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-engine-darker text-engine-light antialiased;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  @apply bg-engine-dark;
}
::-webkit-scrollbar-thumb {
  @apply bg-engine-primary/50 rounded-full;
}
::-webkit-scrollbar-thumb:hover {
  @apply bg-engine-primary;
}